:root{
    font-family: 'Roboto', sans-serif;
    --cursor: pointer;
 

    --baby-blue-eyes: rgb(195, 222, 248);
    --blue-jeans: rgb(127, 161, 196);
    --dark-cornflower-blue: #023e7dff;
    --oxford-blue: #002855ff;
    --oxford-blue-2: #001845ff;
    --oxford-blue-3: #001233ff;
    --independence: #33415cff;
    --black-coral: #5c677dff;
    --manatee: rgba(151, 157, 172, 0.384);
    --light-gray: #d2d4dbff;


}

