body {
    background-color: var(--baby-blue-eyes);

   

}
main {
    display:flex;
    justify-content: center;
    align-content: center;
}

#container-all {
    width: 90%;
    height: 100vh
  
}

#container-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
    margin-top: 2rem;
    box-shadow:  8px 14px -2px var(--black-coral);

}

.category {
    margin-bottom: 0.5rem;
    width: 250px;
    background-color: var(--manatee);
    border-radius: 8px;
    padding: 0 0.5rem 1rem 0.5rem;

    
}

.container-category {
    margin: 1.5rem ;
    align-items: center;
    height: 1.5rem;
}

#main-category {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-items: center;
    justify-content: center;

}