

.task {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border-bottom: 0.5px solid var(--blue-jeans);
    padding-bottom: 0.5rem;
    padding: 0.5rem;
    align-content: center;
}

.task-name {
    gap: 0.2rem;
    align-items: center
}

.info-task {
    gap: 0.2rem;
    align-items: center
}


h1 {
    font-size: 1.625rem;
    font-weight: 900;
    color: var(--oxford-blue-3);
}



h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--oxford-blue-2);

}

h3 {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--oxford-blue-3);
}

p {
    font-size: 0.813rem;
    font-weight: 200;
    color: var(--oxford-blue-3);
}

.line-through{
    text-decoration: line-through;
    color: var(--light-gray);
}

input[type=checkbox]{
    accent-color: var(--dark-cornflower-blue);
    width: 1rem;
    height: 1rem;
}